src/libmds.so
src/libmds.a
src/*/*.o

src/vgcore*
src/tags
tags

docs/_*/
docs/html/
docs/xml/

src/tests/hello
src/tests/jumble
src/tests/llist
src/tests/llist_huge
src/tests/vector
src/tests/vector_huge
